<!DOCTYPE html> 
<html>

<title>Page Title</title>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    <div>
    <h2><center>{{song_name}}</center></h2>
    <h2>
        {% for i in range(total_artists) %}
            {% if i == total_artists-1 %}
            <center>{{ artist_names[i] }}</center>
            {% else %}
                <center>{{ artist_names[i] }} |</center>
            {% endif %}
        {% endfor %}
    </h2>
    </div>

<center><img src={{album_image}}></img></center>

<h2><center>{{song_preview}}</center></h2>
{% if song_preview == None %}
    <h2><center>No Song Preview</center></h2>
{% else %}
    <audio controls>
        <source src={{song_preview}} type="audio/mpeg">
    </audio>
{% endif %}


<br>
<h2><a href = "{{spotify_link}}">Link to Song!</h2>

</body>

</html>